@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,::before,::after{ margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
ul{ list-style: none; padding: 0; }
label{ display: inline-block;}
img{ vertical-align: bottom;}
button{ cursor: pointer; padding: 0;}
:disabled{ cursor: not-allowed; opacity: .5;}

html{
     font-size: 10px;
     --db:#132577;
     --white:#fff;
     --gray:#92989F;
}

body{
     font: 14px "Poppins", sans-serif;
}

.container{
     max-width: 1260px;
     margin: auto;
     padding: 0 1rem;
}

.row{
     display: grid;
     gap: 2rem;
     grid-template-columns: repeat(12, 1fr);
}


.col-2{ grid-column: span 2;}
.col-3{ grid-column: span 3;}
.col-4{ grid-column: span 4;}
.col-6{ grid-column: span 6;}
.col-8{ grid-column: span 8;}
.col-9{ grid-column: span 9;}
.img-resp{ max-width: 100%; height: auto; }
.flex{ display: flex; }
.align-center{ align-items: center;}
.space-bet{ justify-content: space-between; }
.text-center{ text-align: center;}
.left{ float: left;}
.right{ float: right;}
.clear::after{ content: ''; clear: both; display: table; }


/* layout */

.wrap-1{ background: url(../img/bg1.svg) no-repeat center/cover var(--db); color: var(--white); padding: 59px 0 82.2px;}
.wrap-1 header h1{ font-size: 32px; }
.wrap-1 header h1 a{ color: inherit;}
.wrap-1 nav ul{ justify-content: flex-end; gap: 3rem; }
.wrap-1 nav a{ color: inherit; font-weight: 600; display: block; }

.wrap-1 .banner{ margin-top: 76px;}
.banner-text{ padding-right: 140px;}
.banner-text p.caption{ font-size: 28px; font-weight: 600;}
.banner-text .description{ margin: 3rem 0 4rem; font-size: 16px; line-height: 1.7;}
.banner-text a{ display: block; width: 185px; line-height: 50px; background: var(--white); text-align: center; border-radius: 5px; color: #000; font-weight: 600; font-size: 16px;}


.wrap-2{ padding: 100px 0; }

main h2{ text-transform: uppercase; font-size: 20px; font-weight: 500; color: var(--db); margin-bottom: 10px; }
main h2+p{ font-weight: 700; font-size: 28px; margin-bottom: 40px;}
.service{ padding: 30px 50px 41px 30px; box-shadow: 0 0 13px #0000001a; border-radius: 5px; border-top: 15px solid transparent;}
.service h3{ font-size: 20px; font-weight: 600;}
.service p{ opacity: .6; margin: 20px 0 30px; }
.service a{ color: inherit; text-decoration: underline;}
.service.s1{ border-top: 15px solid var(--db)}
.service.s2{ background: var(--db); color: var(--white); }

.info{ margin: 100px 0; }
.info p:first-child{ font-size: 24px; font-weight: 600;}
.info p:last-child{ font-weight: 500;}

.about p:nth-child(3){opacity: .6; margin: 20px 0 30px;}
.about ul{ list-style: disc; padding-left: 20px; font-weight: 500; line-height: 40px; }

.wrap-3{ background: var(--db); color: var(--white); padding: 50px 0;}




@media screen and (max-width:1280px){
.banner-text{ padding-right: 20px;}
.service{ padding: 20px 10px 30px 10px;}
}


@media screen and (max-width:980px){
.col-t-2{ grid-column: span 2;}
.col-t-3{ grid-column: span 3;}
.col-t-4{ grid-column: span 4;}
.col-t-6{ grid-column: span 6;}
.col-t-12{ grid-column: span 12;}
.wrap-1 nav ul { gap: 1rem;}
.wrap-1 header h1{ font-size: 28px;}
.banner-text p.caption{font-size: 24px;}
/* .service h3{ font-size: 15px;} */
}


@media screen and (max-width:767px){
.col-m-2{ grid-column: span 2;}
.col-m-3{ grid-column: span 3;}
.col-m-4{ grid-column: span 4;}
.col-m-6{ grid-column: span 6;}
.col-m-12{ grid-column: span 12;}
nav{ display: none;}
.col-m-order-before{ order: -1;}
}

@media screen and (max-width:460px){
.col-p-2{ grid-column: span 2;}
.col-p-3{ grid-column: span 3;}
.col-p-4{ grid-column: span 4;}
.col-p-6{ grid-column: span 6;}
.col-p-12{ grid-column: span 12;}
}