@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,::before,::after{ margin: 0; box-sizing: border-box;}
a{ text-decoration: none;}
ul{ list-style: none; padding: 0; }
label{ display: inline-block;}
img{ vertical-align: bottom;}
button{ cursor: pointer; padding: 0;}
:disabled{ cursor: not-allowed; opacity: .5;}

html{
     font-size: 10px;
     --db:#132577;
     --white:#fff;
     --gray:#92989F;
}

body{
     font: 16px/1.3 "Poppins", sans-serif;
}

.container{
     max-width: 1260px;
     margin: auto;
     padding: 0 1rem;
}

.row{
     display: grid;
     gap: 2rem;
     grid-template-columns: repeat(12, 1fr);
     margin: 1rem 0;
}


.col-2{ grid-column: span 2;}
.col-3{ grid-column: span 3;}
.col-4{ grid-column: span 4;}
.col-6{ grid-column: span 6;}

/* layout */

.wrap-1{ background: var(--db); color: var(--white);}
.wrap-2{ }
.wrap-3{ background: var(--db); color: var(--white);}




@media screen and (max-width:1280px){
     
}


@media screen and (max-width:980px){
.col-t-2{ grid-column: span 2;}
.col-t-3{ grid-column: span 3;}
.col-t-4{ grid-column: span 4;}
.col-t-6{ grid-column: span 6;}
.col-t-12{ grid-column: span 12;}
}


@media screen and (max-width:767px){
.col-m-2{ grid-column: span 2;}
.col-m-3{ grid-column: span 3;}
.col-m-4{ grid-column: span 4;}
.col-m-6{ grid-column: span 6;}
.col-m-12{ grid-column: span 12;}
}

@media screen and (max-width:460px){
.col-p-2{ grid-column: span 2;}
.col-p-3{ grid-column: span 3;}
.col-p-4{ grid-column: span 4;}
.col-p-6{ grid-column: span 6;}
.col-p-12{ grid-column: span 12;}
}